/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Variáveis */
:root {
  --green: #1c7d1b;
  --white: #fff;
  --light-white: #aaa;
  --black: #080808;
  --light-bg: #001005;
  --bg-color: #080808;
  --second-bg-color: #001005;
  --text-color: white;
  --main-color: #1c7d1b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    text-transform: none;
    transition: 0.2s linear;
  }

  *::selection {
    background-color: var(--white);
    color: var(--black);
  }

  /* Scrollbar */
::-webkit-scrollbar {
    height: 0.5rem;
    width: 1rem;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background-color:  var(--green);
    border-radius: 5rem;
  }

/* Html e Body */
/* divisao seções */
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 8rem;
  }

  body {
    background-color: var(--black);
    color: var(--text-color);
    display: block;
    width: 100vw;
    max-width: 100%;
  }

/* Botão */
.btn {
    display: inline-block;
    margin-top: 2rem;
    border-radius: 5rem;
    background-color: var(--light-bg);
    cursor: pointer;
    color: var(--white);
    font-size: 1.8rem;
    padding: 1rem 3rem;
    position: relative;
    transition: 0.3s ease-in-out;
    box-shadow: 0 0 10px var(--green);
  }
  
  .btn:hover {
    background-color: var(--white);
    color: var(--black);
    animation: vibrate 1s infinite;
    box-shadow: 0 0 30px var(--green), 0 0 50px var(--green);
  }
  
  /* Títulos */
  .heading,
  .heading-central,
  .heading-left {
    text-align: center;
    font-size: 4rem;
    color: var(--white);
    margin-bottom: 2.5rem;
  }
  
  .heading span,
  .heading-central span,
  .titulo-projeto,
  .titulo-principal span,
  .titulo-integrantes span,
  .heading-left span {
    color: var(--main-color);
  }
  
  /* Header */
 header,
  .header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding:  2rem 12%;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.3s ease-in-out; 
}

.header.hide {
  transform: translateY(-100%); 
}
  

  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo-img {
    width: 60px;
    margin-right: 5px;
  }
  
  .logo {
    font-size: 3rem;
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
    color: var(--text-color);
  }
  
  .logo:hover {
    transform: scale(1.1);
  }
  
#menu-btn {
  display: none;
}

  
  .navbar {
    display: flex;
    align-items: center;
  }
  
  .navbar a {
    font-size: 1.8rem;
    color: var(--light-white);
    margin-left: 4rem;
    font-weight: 500;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
  }
  
  .navbar a:hover {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
  }



/* Home */
.home {
    padding: 10rem 12%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  

  .home .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;
  }
  
  .home .content {
    flex: 1 1 50%;
    text-align: left;
  }
  
  .home .content h1 {
    font-size: 6.5rem;
    color: var(--white);
    line-height: 1.1;
  }
  
  .home .content h1 span {
    color: var(--green);
  }
  
  .home .content p {
    font-size: 2rem;
    margin-top: 1rem;
    color: var(--light-white);
    max-width: 90%;
  }
  
  .home .image {
    flex: 1 1 40%;
    text-align: center;
  }
  
 .home .image img {
  width: 100%;
  max-width: 1000px;
  border-radius: 20px;
  transition: 0.4s ease-in-out;
}




/* Projeto */
.projeto {
  padding: 8rem 12%;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  gap: 2rem;
}

.projeto h1 {
  font-size: 4rem;
  color: var(--white);
  text-align: center;
}

.descricao-projeto {
  font-size: 1.8rem;
  color: var(--light-white);
  text-align: center;
  margin-bottom: 5rem;
  max-width: 800px;
  line-height: 1.6;
}

/* Swiper */
.swiper {
  width: 100%;
  max-width: 1000px;
  height: 600px; /* AUMENTADO */
  margin: 0 auto;
  padding-bottom: 50px;
}

.swiper-slide {
  width: 100%;
  height: 600px; /* AUMENTADO */
  border-radius: 15px;
  overflow: hidden;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}


/* Sobre Nós */
.sobre-nos {
    padding: 8rem 12%;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    gap: 2rem;
  }
  
  .sobre-nos h1 {
    font-size: 4rem;
    color: var(--white);
    text-align: center;
  }  

  .sobre-descricao,
.descricao-grupo {
  font-size: 1.8rem;
  color: var(--light-white);
  text-align: center;
  margin-bottom: 5rem;
  max-width: 800px;
  line-height: 1.6;
  gap: 2rem;
}

  .titulo-integrantes h1 {
    color: var(--white);
    text-align: center;
  }

  .membros-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
  }
  
  .card-inner {
    background-color: var(--second-bg-color);
    border-radius: 2rem;
    width: 240px;
    overflow: hidden;
    box-shadow: 0 0 25px rgba(0, 255, 81, 0.1);
    transition: transform 0.3s ease;
  }
  
  .card-inner:hover {
    transform: translateY(-10px) rotateZ(-1deg);
    box-shadow: 0 0 35px var(--main-color);
  }
  
  .card-inner img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    border-bottom: 3px solid var(--main-color);
  }
  
  .card-info {
    padding: 1.5rem;
    text-align: center;
  }
  
  .card-info h3 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    color: var(--white);
  }
  
  .card-info .funcao {
    font-size: 1.4rem;
    color: var(--light-white);
  }
  
  /* membros */
  .membros-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    justify-items: center;
    align-items: center;
  }
  
  .membro {
    width: 280px;     
    height: 340px;    
    overflow: hidden;
    border-radius: 1.5rem;
    box-shadow: 0 0 20px rgba(0, 255, 81, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    position: relative;
  }
  
  .membro img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }
  
  .membro .info {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    transform: translateY(100%);
    padding: 1.5rem 1rem;
    transition: transform 0.3s ease;
  }
  
  .membro:hover img {
    transform: scale(1.1);
  }
  .membro:hover .info {
    transform: translateY(0);
  }
  
  .info h3 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    color: var(--main-color);
  }
  
  .info p {
    font-size: 1.4rem;
    color: var(--light-white);
  }
  
  


/* Atividades */
.atividades {
    padding: 8rem 12%;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    gap: 2rem;
  }
  
  .atividades h1 {
    font-size: 4rem;
    color: var(--white);
    text-align: center;
  }
  
  .descricao-atividades {
    font-size: 1.8rem;
    color: var(--light-white);
    text-align: center;
    margin-bottom: 5rem;
    max-width: 800px;
  }
  
  .atividade-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
    justify-content: center;
  }
  
  .atividade-card {
    background-color: var(--bg-color);
    padding: 4rem 2rem;
    border-radius: 1.5rem;
    box-shadow: 0 0 15px rgba(0, 255, 81, 0.2);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color: var(--white);
    text-decoration: none;
    width: 100%;
    min-height: 200px; 
    display: flex;
    flex-direction: column;
   justify-content: center;
  }

 
  
  .atividade-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 30px var(--main-color);
  }
  
  .atividade-card i {
    font-size: 4rem;
    color: var(--main-color);
    margin-bottom: 1rem;
  }
  
  .atividade-card p {
    font-size: 1.6rem;
    font-weight: 500;
  }
  

/* Processos */
.processos {
  padding: 8rem 12%;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  gap: 2rem;
}

.processos h1 {
  font-size: 4rem;
  color: var(--green);
  text-align: center;
}

.descricao-processos {
  font-size: 1.8rem;
  color: var(--light-white);
  text-align: center;
  margin-bottom: 5rem;
  max-width: 800px;
  line-height: 1.6;
}

.processo-bloco {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
  margin-bottom: 6rem;
  flex-wrap: wrap;
}

.processo-bloco.invertido {
  flex-direction: row-reverse;
}

.texto-processo {
  flex: 1;
  font-size: 1.6rem;
  color: var(--light-white);
  line-height: 1.6;
}

.texto-processo h2 {
  color: var(--white);
  font-size: 2.4rem;
  margin-bottom: 1rem;
}

.imagem-processo {
  flex: 1;
  max-width: 500px;
}

.imagem-processo img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
}


/* Rodapé - Contato */
.divisoria-contato {
  border: none;
  height: 3px;
  width: 100%;
  background: linear-gradient(to right, transparent, #00ff51, transparent);
  margin: 0;
}

.rodape {
  background-color: #000000;
  color: #ffffff;
  padding: 4rem 2rem;
  text-align: center;
  font-family: 'Segoe UI', sans-serif;
}

.titulo-rodape {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #ffffff;
  font-weight: bold;
}

.titulo-rodape .verde {
  color: #32CD30;
}

.integrantes-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.integrantes-container a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  padding: 0.6rem 1rem;
  border: 2px solid transparent;
  border-radius: 30px;
  transition: 0.3s ease-in-out;
}

.integrantes-container a i {
  font-size: 1.6rem;
  color: #00ff51;
  transition: color 0.3s;
}

.integrantes-container a:hover {
  border-color: #00ff51;
  background-color: #00ff51;
  color: #000000;
}

.integrantes-container a:hover i {
  color: #000000;
}

.logos-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-top: 2.5rem;
  flex-wrap: wrap;
}

.logo-senac,
.logo-grupo {
  max-width: 60px;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.logo-senac:hover,
.logo-grupo:hover {
  transform: scale(1.1);
}

.instituicao {
  margin-top: 2rem;
  font-size: 1rem;
}

.instituicao a {
  color: #ffffff;
  text-decoration: none;
  font-style: italic;
  font-weight: 500;
  position: relative;
  transition: color 0.3s ease;
}

.instituicao a::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: -4px;
  background-color: #00ff51;
  transition: width 0.3s ease;
}

.instituicao a:hover {
  color: #00ff51;
}

.instituicao a:hover::after {
  width: 100%;
}

  

/* Responsivo*/
/* Responsividade Navbar */
@media (max-width: 991px) {
  .header {
    padding: 2rem 5%;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.9);
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
    display: none;
  }

  .navbar.active {
    display: flex;
  }

  .navbar a {
    margin: 1rem 0;
    font-size: 2rem;
  }

  #menu-btn {
    display: block;
    font-size: 3rem;
    color: var(--main-color);
    cursor: pointer;
  }
}

/* Ajustes gerais para dispositivos menores */
@media (max-width: 768px) {
  html {
    font-size: 55%;
  }

  .home .row {
    flex-direction: column-reverse;
  }

  .home .content h1 {
    font-size: 5rem;
  }

  .swiper {
    height: 400px;
  }

  .swiper-slide {
    height: 400px;
  }

  .membros-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .atividade-grid {
    grid-template-columns: 1fr;
  }

  .processo-bloco {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .logo {
    font-size: 2.4rem;
  }

  .btn {
    font-size: 1.4rem;
    padding: 0.8rem 2rem;
  }

  .membros-container {
    grid-template-columns: 1fr;
  }
}



